@import url(https://fonts.googleapis.com/css?family=Varela+Round);

@font-face {
    font-family: 'League Spartan';
    src: url('../../../compiled/_webfonts/fonts/leaguespartan-bold.eot');
    src: url('../../../compiled/_webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../../../compiled/_webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('../../../compiled/_webfonts/leaguespartan-bold.woff') format('woff'),
         url('../../../compiled/_webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('../../../compiled/_webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}